.gallery__btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;  
    font-size: 14px;
}
.gallery__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    text-transform: uppercase;
    height: 100%;
}
.gallery__btn:hover {
    transition-duration: 0.15s;
    color: #fd7474;
    text-shadow: 0 0 10px #C20E0B;
}
@media(min-width: 768px) {
    .gallery__btn-container {
        margin: auto;
        width: 70%;
        height: 60px;
    }
    .gallery__btn {
        width: 100px;
        font-size: 16px;
    }
}
@media(min-width: 1240px) {
    .gallery__btn-container {
        width: 50%;
        height: 70px;
    }
    .gallery__btn {
        width: 110px;
        font-size: 17px;
    }
}