* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #222;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #222;
    padding: 0 20px;
    box-shadow: 0px 10px 23px 6px rgba(0,0,0,0.55);
    margin-bottom: 25px;
}
.header__logo-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.logo-container__img {
   height: 100%;
   width: 100%;
}
.logo-hover {
    display: none;
}
.header__nav {
    display: none;
}
.nav__item {
    list-style-type: none;
}

.color-red {
    color: #fd7474;
}
@media(min-width: 768px) {
    .header {
        height: 85px;
    }
    .header__display {
        display: none;
    }
    .header__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .header__menu-link {
        color: #fff;
        text-shadow: 0 0 0px #fff; 
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header__menu-link:hover  {
        transition-duration: 0.15s;
        color: red;
    }

    .nav__item {
        padding: 30px 0 30px 0;
        position: relative;
    }
    .submenu__list {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        top: 60px;
        width: 100%;
        height: 80px;
        box-shadow: 0 0 8px 0 rgba(242,17,17,0.68);    
        background-color: rgba(0,0,0,0.25);
        z-index: 10;   
        padding: 5px 12px;
    }

    .item__sport-club:hover > .sportClub__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav__item:hover > .company_list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .item__triangle {
        position: absolute;
        right: -16px;
        top: 33px;
        height: 12px;
        width: 12px;
    }
    .submenu__item {
        line-height: 1.4;
    }
}
@media(min-width: 1240px) {
    .header {
        height: 110px;
        padding: 40px;
        margin-bottom: 30px;
    }
    .header__nav {
        width: 87%;
    }
    .header__display {
        display: block;
    }
    .header__logo-container {
        position: relative;
        height: 95px;
        width: 95px;
    }
    .logo-hover {
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        width: 105%;
        height: 105%;
        background-color: transparent;
        border-radius: 50%;
        border: 6px solid #222;
        z-index: 10;
        
    }
    .logo-hover:hover {
        border: 6px solid transparent;
    }
    .header__menu-link {
        font-size: 16px;
    }
    .heder__top-menu {
        font-size: 20px;
    }
    .item__triangle {
        position: absolute;
        right: -23px;
        top: 33px;
        height: 15px;
        width: 15px;
    }

}
