.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #222;
    padding: 0 20px;
    margin-bottom: 30px;
}
.header__logo-container {
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.logo-container__img {
   height: 100%;
   width: 100%;
}
.header__nav {
    display: none;
}
.nav__item {
    list-style-type: none;
}
@media(min-width: 768px) {
    .header__logo-container {
        display: none;
    }
    .header__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .header__menu-link {
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header__menu-link:hover  {
        transition-duration: 0.3s;
        color: red;
    }
    .item__sport-club:hover > .sportClub__list {
        display: block;
    }
}
@media(min-width: 1240px) {
    .header {
        height: 120px;
    }
    .header__nav {
        width: 70%;
    }
    .header__logo-container {
        display: block;
        height: 100px;
        width: 100px;
    }
    .header__menu-link {
        font-size: 16px;
    }
}