*{
    color: #ffffff;
}
.common_page{
    font-size: 1.2rem;
    width: 90%;
    background-color: #282828;
    margin: auto auto 1rem auto;
    border-radius: 0.125rem;
    padding: 0.1rem 0.5rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.65), inset 0 0.0625rem 0 0 rgba(255, 255, 255, 0.15);
    text-align: justify;
}
.common_page_info figcaption {
    font-size: 1.2rem;
    background-color: #282828;
    /*z-index: -1;*/
    /*position: relative;*/
    top: -1.05rem;
    width: 90%;
    margin: auto;
    padding: 0.1rem 0.5rem;
    border-radius: 0.125rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.65), inset 0 0.0625rem 0 0 rgba(255, 255, 255, 0.15);
}
.common-list {
    box-shadow: 0 0 20px 0 rgba(242,17,17,0.68);
    font-style: italic;
    list-style: upper-roman outside;
    /*margin-bottom: 1rem;*/
}
.common-title {
    padding: 1rem 0;
 }
.common-list-title {
    padding: 0 1rem;
}
.common-contact {
    padding: 1rem 0;
}
.common-text {
    padding: 1rem 0;
}
@media (min-width: 320px) {
    .common-list-title {
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }
    .common-contact {
        width: 95%;
    }
}
@media (min-width: 720px) {
    .common-list-title {
        padding: 0 3rem;
        margin-bottom: 1rem;
    }
    .common-text, .common-list, .common-contact {
        font-size: 1.3rem;
    }
}
@media (min-width: 1024px) {
    .common-list-title {
        padding: 0 7rem;
        margin-bottom: 1rem;
    }
    .common-text, .common-list, .common-contact {
        font-size: 1.5rem;
    }
    .common-contact {
        width: 60%;
        margin: auto;
        padding: 1rem 0;
    }
}