body {
    font-family: 'Roboto', sans-serif;
}
.font-weight__bold {
    font-weight: 700;
    letter-spacing: 0.8px;
}
.text-align__left {
    text-align: left;
    line-height: 1.35;
}
.color__red {
    color: #f8dbcd;
    text-shadow: 0 0 10px rgb(224, 3, 3);
}